<img src="https://drive.google.com/uc?id=1uPUwnTqN6FmhirxTGO-nPf-G4lSF3dn5" alt="Banner" width="1500">

# Practice Lambda Functions

### Note

The exercises in this workbook ask you to write lambda functions and assign them to variables. There is pre-written code to call your lambda function assigned to a varaible with parameter(s). This is to allow you to practice the syntax. However in practice, lambda functions are mostly passed into functions, not assigned to variables.

## Exercise 1: Basic Syntax
Write a lambda function that takes a number and returns its square. Assign it to a variable called `square`, and test it on the number `5`.

In [40]:
# square = # your code here
# print(square(5))
square = lambda num:num ** 2
print(square(5))

25

## Exercise 2: Multiple Parameters
Write a lambda function that takes two numbers and returns their product. Assign it to a variable `multiply`, and test it on the numbers `3` and `7`.

In [41]:
# multiply = # your code here
# print(multiply(3, 7))
multiply = lambda num_1,num_2:num_1 * num_2
print(multiply(3, 7))

21

## Exercise 3: Using `map()`
You are given a list of numbers:
```python
nums = [1, 2, 3, 4, 5]
```
Use `map()` with a lambda function to double each number in the list. Convert the result to a list and print it.

In [42]:
nums = [1, 2, 3, 4, 5]
# doubled = # your code here
doubled = map(lambda num: num * 2, nums)
print(list(doubled))

[2, 4, 6, 8, 10]

## Exercise 4: Using `filter()`
Use `filter()` and a lambda function to select only the words in this list that are longer than 4 characters:
```python
words = ['hi', 'hello', 'sun', 'amazing', 'cat']
```

In [43]:
# words = ['hi', 'hello', 'sun', 'amazing', 'cat']
# long_words = # your code here
# print(list(long_words))

In [44]:

words = ['hi', 'hello', 'sun', 'amazing', 'cat']
# long_words = # your code here
long_words = filter(lambda word: len(word) >4 ,words )
print(list(long_words))

['hello', 'amazing']

## Exercise 5: Sorting with Lambda
You are given a list of tuples, where each tuple contains a name and a score:
```python
students = [('Alice', 88), ('Bob', 72), ('Charlie', 95)]
```
Use the `sorted()` function and a lambda to sort the list **by score in descending order**.

In [45]:
students = [('Alice', 88), ('Bob', 72), ('Charlie', 95)]
sorted_students = sorted(students,key = lambda student: student[1],reverse=True)
print(sorted_students)

[('Charlie', 95), ('Alice', 88), ('Bob', 72)]